@import 'https://fonts.googleapis.com/css?family=Rubik+One';
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap%27');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700%22");


.backplay{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width:99%;
    height: 100%;
    background-image: url('../code/jantemcode/image/2.gif');
  }


  body{
    cursor: url('../code/jantemcode/image/B2.ico'), pointer;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
  

    /* icones en haut */
    .Bmaison{
      cursor: url('../code/jantemcode/image/B2.ico'), pointer;
      display:inline-block;
      background:url(../code/jantemcode/image/maisonH.png); 
      width : 50px;
      height : 50px;
      margin-left : 450px;
      margin-top : 5px;
     
     
     }
     .Bsetting{
      cursor: url('../code/jantemcode/image/B2.ico'), pointer;
      display: inline-block;
       background:url(../code/jantemcode/image/p2.png); 
      width : 60px;
      height : 60px;
      margin-left: 30px;
      margin-right : 5px;
    
     }
  .popup {
    margin: 50px auto;
    padding: 20px;
    width: 40%;
    background-size: 100%;
    position: relative;
    transition: all 400ms ease-in-out;
    border-radius:5px;
    background-color: rgb(245, 229, 139);
    border: 12px solid rgb(133, 119, 42);
    text-align:center;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    font-size : 50px;
  }
  .popup .content {
    max-height: 90%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .popup{
      width: 80%;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 1.4s;
    visibility: hidden;
    opacity: 0;
    z-index : 1;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  #player-container #play-pause {
    cursor: url('../code/jantemcode/image/B2.ico'), pointer;
    text-indent: -999999px;
    height:40px;
    width: 40px;
    padding: 12px 18px;
    background-image: url(../code/jantemcode/image/logoff.png);
    background-repeat: no-repeat!important;
    background-position: center;
  
  }
  
  .play {
    background-image: url(../code/jantemcode/image/logoff.png);
  }
  .pause {
     background-image: url(../code/jantemcode/image/logon.png)!important;
  }
  

  /* 2 boutons */

  a {
    cursor: url('../code/jantemcode/image/B2.ico'), pointer;
    text-decoration : none;
    color : white;
    font-family: 'Rubik One', sans-serif;
    font-size: 30px;
    display: block;
  }

  .levels{
    font-family: 'Rubik One', sans-serif;
    margin: 30px;
    width: 70%;
    color:#FFF;
    
    display:inline-block;
    text-decoration:none;
    border-radius:0px;
    border:solid 1px #c853ec;
    background:#c853ec;
    text-align:center;
    padding:20px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #74367c;
    -moz-box-shadow: 0px 0px 0px #74367c;
    box-shadow: 9px 9px 0px #74367c;
  
  }

  .levels:hover{
    -webkit-box-shadow: 0px 2px 0px #74367c;
    -moz-box-shadow: 0px 2px 0px #74367c;
    box-shadow: 0px 2px 0px #74367c;
    position:relative;
    top:7px;
    }
  

  .create{
    font-family: 'Rubik One', sans-serif;
    width:70%;
    color:#FFF;
    display:inline-block;
    text-decoration:none;
    border-radius:0px;
    border:solid 1px #c853ec;
    background:#c853ec;
    text-align:center;
    padding:20px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #74367c;
    -moz-box-shadow: 0px 9px 0px #74367c;
    box-shadow: 9px 9px 0px #74367c;
    margin: 30px;

  }


  .create:hover{
    -webkit-box-shadow: 0px 2px 0px #74367c;
    -moz-box-shadow: 0px 2px 0px #74367c;
    box-shadow: 0px 2px 0px #74367c;
    position:relative;
    top:7px;
    }
  