@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap%27');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700%22");
@import url('https://fonts.googleapis.com/css?family=Rubik+One%27');

.fondcreate{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width:100%;
    height: 100%;
    background-image: url('image/3.gif');
}

body{
    cursor: url('image/B2.ico'), pointer;
  }


/* icones en haut */
.Bmaison{
    cursor: url('image/B2.ico'), pointer;
    display:inline-block;
    background:url(image/maisonH.png); 
    width : 50px;
    height : 50px;
    margin-left : 450px;
    margin-top : 5px;
   
   
   }
   .Bsetting{
    cursor: url('image/B2.ico'), pointer;
    display: inline-block;
     background:url(image/p2.png); 
    width : 60px;
    height : 60px;
    margin-left: 30px;
    margin-right : 5px;
  
   }
.popup {
  margin: 50px auto;
  padding: 20px;
  width: 40%;
  background-size: 100%;
  position: relative;
  transition: all 400ms ease-in-out;
  border-radius:5px;
  background-color: rgb(245, 229, 139);
  border: 12px solid rgb(133, 119, 42);
  text-align:center;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  font-size : 50px;
}
.popup .content {
  max-height: 90%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 80%;
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 1.4s;
  visibility: hidden;
  opacity: 0;
  z-index : 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#player-container #play-pause {
  cursor: url('image/B2.ico'), pointer;
  text-indent: -999999px;
  height:40px;
  width: 40px;
  padding: 12px 18px;
  background-image: url(image/logoff.png);
  background-repeat: no-repeat!important;
  background-position: center;

}

.play {
  background-image: url(image/logoff.png);
}
.pause {
   background-image: url(image/logon.png)!important;
}




