@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap%27');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700%22");
@import url('https://fonts.googleapis.com/css?family=Rubik+One');

.backrecords{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 99%;
    height: 100%;
    background-image: url('image/3.gif');
}

body{
  cursor: url('image/B2.ico'), pointer;
}



.tableauRecords {
  background-color: rgb(245, 229, 139);
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 450px;
  padding-top: 350px;
  border: 12px solid rgb(133, 119, 42);
}

.Bmaison{
  cursor: url('image/B2.ico'), pointer;
  display:inline-block;
  background:url(image/maisonH.png); 
  width : 50px;
  height : 50px;
  margin-left : 80%;
  margin-top : 5px;
  position: relative;
 }



