@import url('https://fonts.googleapis.com/css?family=Rubik+One');
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {


    /* letter-spacing: 2px; */
    background-image: url('../image/backDida2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(53, 51, 51, 0.815);
    height : 100%;
    cursor: url('../image/B2.ico'), pointer;
}


img {
    width : 440px;
    height : 300px;
}

.jantem{
    display: block;
    position : absolute;
    left: 5%;
    top : 34.3%;
    width : 20px;
    z-index : 3;
}


#typedtext {
    background-color: rgb(245, 229, 139);
    left : 25%;
    top : 7%;
    bottom: 7%;
    padding : 2%;
    border: 12px solid rgb(133, 119, 42);
    width: 700px;
    height: 880px;
    position: fixed;
    color : rgb(133, 119, 42);
    font-size: 11px;
    font-family : 'Press Start 2P';
    line-height: 22px;
    letter-spacing: -2px;
}